@model string

<form method="post">
    <input type="hidden" name="token" value="@Model" />

    <label>New Password:</label>
    <input type="password" name="newPassword" required />

    <button type="submit">Update Password</button>
</form>
